$red: #e45028;
$black: #2f3234;
$orange: #f9b43b;


@import "./settings/fonts";
@import "./settings/mixins";
@import "./settings/normalize";
@import "./settings/base";

@import "./blocks/button";
@import "./blocks/title";
@import "./blocks/fixed-menu";
@import "./blocks/hamburger";
@import "./blocks/mobile-menu";


@import "./screens/start";
@import "./blocks/header";
@import "./blocks/logo";
@import "./blocks/top-menu";
@import "./blocks/scroll-down";

@import "./screens/best";
@import "./blocks/features";
@import "./blocks/features-card";

@import "./screens/team";
@import "./blocks/team-accordeon";
@import "./blocks/team-card";


@import "./screens/menu";
@import "./blocks/menu-accordeon";
@import "./blocks/menu-card";

@import "./screens/reviews";
@import "./blocks/review-card";

@import "./screens/order";
@import "./blocks/form";
@import "./blocks/input";

@import "./screens/contact-us";
@import "./blocks/map";
@import "./blocks/footer";
@import "./blocks/contacts";
@import "./blocks/socials";