.best-screen {
  @include screen();
  background-image: url('../img/best-screen/bg.png');
  background-size: cover;

  .container {
    width: rem(921);
    display: flex;
    flex-wrap: column nowrap;
    justify-content: center;
    align-items: center;
  }
}