.best {
  background: url(../img/best-screen/bg.png) center center / cover no-repeat;

  &__container {
    max-width: rem(921px);
    justify-content: center;
    height: 100%;

    @include tablets {
      max-width: rem(741px);
    }

    @include phones {
      width: rem(441px);
    }
  }
}
