.best-screen {
  @include screen();
  background-image: url('../img/best-screen/bg.png');
  background-size: cover;

  &__container {
    max-width: rem(921);
    display: flex;
    flex-wrap: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;

    @media screen and (max-width: 768px) {
      max-width: rem(699);
    }

    @media screen and (max-width: 480px) {
      max-width: rem(441);
    }
  }
}
