.first-screen {
  @include screen();
  padding-top: 12px;
  padding-bottom: 41px;
  background-image: url('../img/first-screen/bg.png');
  background-size: cover;
  position: relative;
  z-index: 10;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../img/first-screen/texture.png');
    background-size: cover;
    z-index: -10;
  }

  .container {
    width: 940px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }
}