.menu-screen {
  @include screen();
  background-image: url('../img/menu-screen/menu.png');
  background-size: cover;
  position: relative;

  .title {
    position: absolute;
    top: rem(111);
    left: rem(102);
  }
}
