.order-screen {
  @include screen();
  background-color: #181818;
  background-image: url('../img/order-screen/bg-texture.png');
  background-size: cover;

  .container {
    width: rem(940);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}