.order-screen {
  @include screen();
  background-color: #181818;
  background-image: url('../img/order-screen/bg-texture.png');
  background-size: cover;

  &__container {
    max-width: rem(940);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
  }
}


@media screen and (max-width: 768px) {

 .order-screen {

  &__container {
    max-width: rem(670);
  }
 }
}

@media screen and (max-width: 480px) {

  .order-screen {

    &__container {
      max-width: rem(460);
    }
  }
}
  