.start {
  background: url(../img/first-screen/bg.png) center center / cover no-repeat;
  padding-top: rem(12px);
  padding-bottom: rem(40px);

  &__container {
    height: 100%;
    justify-content: space-between;

    @include tablets {
      max-width: rem(713px);
    }

    @include phones {
      max-width: rem(441px);
    }
  }
}