html, body {
  height: 100%;
}

body {
  font-family: "Ubuntu";
  font-size: rem(14px);
  color: #fff;
  font-weight: 500;
  overflow: hidden;
}


* {
  box-sizing: border-box;
  padding: 0;
}

/*
.wrapper {
  position: relative;
  width: 100%;
  min-width: 940px + 20px;
  min-height: 100%;
  overflow: hidden;
}
*/

.container {
  margin: 0 auto;
  position: relative;
  max-width: rem(940px);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.screen {
  height: 100vh;
}

/*
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
*/

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  color: #fff;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}
