html, body {
  height: 100%;
}

body {
  font-family: 'Ubuntu';
  font-size: rem(14);
  color: #fff;
  font-weight: 500;
}


* {
  box-sizing: border-box;
  padding: 0;
}

.wrapper {
  overflow: hidden;
  min-width: 100vw;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  color: #fff;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}
