.accordeon-team {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 768px), (max-width: 480px) {

  .accordeon-team {
    align-items: center;
  }

}