.button {
  padding: rem(13) rem(15);
  border-radius: 6px;
  font-size: rem(13);
  text-transform: uppercase;
  transition: 0.3s;

  &--bg-red {
    background-color: #e45028;

    &:hover {
      background-color: darken(#e45028, 10%);
      
    }
  }

  &--bg-black {
    background-color: #2f3234;

    &:hover {
      background-color: #1f2122;
  
    }
  }

  &--reset {
    font-weight: 300;
    text-transform: initial;
    outline: none;
  }
}

