.features {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &__list {
    margin-top: rem(55);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  
  .features {

    &__list {
      margin-top: rem(59);
    }
  }
}

@media screen and (max-width: 480px) {

  .features {

    &__list {
      margin-top: rem(38);
      flex-direction: column;
    }
  }
}

