.features {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &__list {
    margin-top: rem(55);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}