.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__list {
    margin-top: rem(55px);
    width: 100%;
    display: flex;

    @include tablets {
      margin-top: rem(59px);
    }

    @include phones {
      margin-top: rem(38px);
      flex-direction: column;
    }
  }
}

