.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: rem(10);
  padding-bottom: rem(10);
  background-color: #101010;

  &__container {
    width: rem(940);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

  }
}

@media screen and (max-width: 768px) {
  
  .footer {

    &__container {
      width: rem(720);
    }
  }

}

@media screen and (max-width: 480px) {
  
  .footer {

    &__container {
      width: rem(275);
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

}