.form {
  margin-top: rem(44);
  width: 100%;
  display: flex;

  &__column {
    flex: 1;
    margin-right: rem(20);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &:last-child {
      margin-right: 0;
    }
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: rem(20);

    &:last-child {
      margin-bottom: 0;
    }
  }

}