.hamburger {
  display: none;
  cursor: pointer;
  margin-left: rem(30px);
  position: fixed;
  top: rem(35px);
  right: rem(33px);

  @include tablets {
    display: block;
  }

  &__line {
    display: block;
    width: rem(24px);
    height: rem(4px);
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: rem(5px);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.hamburger:hover .mobile-menu {
  display: flex;
  z-index: 99;
}
