.hamburger {
  display: none;
  cursor: pointer;
  margin-left: 30px;
  position: fixed;
  top: rem(35);
  right: rem(33);  

  &__line {
    display: block;
    width: rem(24);
    height: rem(4);
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: rem(5);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  
  .hamburger {
    display: block;
  }

}

@media screen and (max-width: 480px) {
  
  .hamburger {
    display: block;
    right: rem(24); 
  }

}
