.input {
  margin-right: rem(20);

  &:last-child {
    margin-right: 0;
  }

  &--text {
    flex: 1;
  }

  &--textarea {
    flex: 1;
  }

  &--radio {
    flex: .34;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &--checkbox {
    margin-top: rem(25);
    flex: .34;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__title {
    font-weight: 300;
  }

  &__text {
    width: 100%;
    margin-top: rem(10);
    color: #2f3234;
    font-weight: 300;
    line-height: rem(24);
    padding: rem(12) rem(21);
    border: rem(2) solid #d1cfcb;
    background-color: #ffffff;
    outline: none;
    border-radius: 7px;

    &:focus{
      border: rem(2) solid #f9b43b;
    }

    &--textarea {
      display: block;
      height: rem(150);
      resize: none;
    }
  }

  &__radio {
    display: none;

    &--visible {
      margin-right: rem(10);
      width: rem(15);
      height: rem(15);
      border-radius: 50%;
      background-color: #ffffff;
      position: relative;
      display: block;
    }

    &:checked + &--visible:after {
      content: "";
      position: absolute;
      display: block;
      width: rem(7);
      height: rem(7);
      border-radius: 50%;
      background-color: #e35028;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__checkbox {
    display: none;

    &--visible {
      margin-right: rem(10);
      width: rem(15);
      height: rem(15);
      background-color: #ffffff;
      position: relative;
      display: block;
    }

    &:checked + &--visible:after {
      content: "";
      position: absolute;
      display: block;
      top: 10%;
      left: 10%;
      bottom: 5%;
      right: 5%;
      background-image: url('../img/order-screen/w128h1281338911632checkmark2.png');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

@media screen and (max-width: 500px) {

  .input {

    &--floor {
      display: none;
    }

    &--appartment {
      margin-right: 0;
    }

  }
}