.introduction {
  display: flex;
  justify-content: center;

  &__logo {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-end;

    &:before {
      content: "";
      display: block;
      width: 451px;
      height: 241px;
      position: absolute;
      right: 0;
      bottom: 115px;
      background-image: url('../img/first-screen/drops.png');
    }
  }

  &__img {
    margin-right: 0;
    display: block;
  }

  &__desc {
    flex: 1;
    margin-left: 12px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__subtitle {
    margin-bottom: 64px;
    margin-top: 17px;
    color: #ffffff;
    font-family: Lifehack;
    font-size: 65px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.63px;
  }
}