.introduction {
  display: flex;
  justify-content: flex-start;

  &__logo {
    position: relative;
    margin-left: 34px;
    max-width: 100%;

    &:before {
      content: "";
      display: block;
      width: 451px;
      height: 241px;
      position: absolute;
      left: -34px;
      top: 68px;
      background-image: url('../img/first-screen/drops.png');
    }
  }

  &__desc {
    margin-left: 12px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__subtitle {
    color: #ffffff;
    font-family: Lifehack;
    font-size: 65px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.63px;
  }
}