.introduction {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-left: rem(20px);
  margin-right: rem(20px);

  @include tablets {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: rem(683px);
  }

  &__picture {
    height: 100%;
    width: 50.11%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: flex-end;

    @include tablets {
      width: 100%;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 44%;
      background: url(../img/icons/drops.svg) center center / contain no-repeat;
      left: 0;
      height: 241px;
      width: 100%;

      @include tablets {
        bottom: 28%;
      }
    }

    &-wrap {
      max-width: rem(417px);
      transform: translateY(-44px);
  
      @include tablets {
        align-self: center;
        transform: translateY(0);
        max-width: rem(417px);
      }
  
      @include phones {
        width: rem(333px);
        height: (339px);
      }
    }

    &-burger {
      display: block;
      max-width: 100%;
    }
  
    &-drops {
      position: absolute;
      right: 0;
      bottom: 27%;
      height: rem(241px);
      width: 100%;
  
      @include phones {
        bottom: rem(91px);
        width: rem(361px);
        height: rem(193px);
      }
    }
  }

  &__description {
    width: 48.66%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablets {
      width: 100%;
      margin-top: rem(40px);
      justify-content: flex-start;
      align-items: center;
    }

    @include phones {
      margin-top: rem(52px);
    }
  }

  &__subtitle {
    margin-top: rem(5px);
    font-family: "Lifehack";
    font-size: rem(65px);
    font-weight: 500;
    letter-spacing: rem(-1.63px);
    line-height: rem(calc(85/65));

    @include tablets {
      text-align: center;
    }
  }
}
