.menu__order-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97px;
  height: 35px;
  background-color: #e45028;
  border-radius: 6px;

  &:hover {
    background-color: darken(#e45028, 10%);
    transition: 0.3s;
  }

  &-text {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
  }

}