.team-card {
  margin-top: 35px;

  &__name {
    cursor: pointer;
    color: #fff;
    font-family: Gagalin;
    font-size: 14px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;

    &:before {
      content: "";
      display: block;
      margin-right: 10px;
      border: 5px solid transparent;	
      border-top: 5px solid #f9b43b;
      border-bottom: 0;
    }
  }

  &__info {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    height: 0;
    overflow: hidden;
  }

  &__pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__avatar {
    display: block;
    height: 100%;
  }

  &__desc {
    width: 208px;
    margin-left: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__job {
    color: #ffffff;
    font-size: 14px;
    font-family: "Ubuntu";
    font-weight: 700;
  }

  &__text {
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 300;
    line-height: 24.01px;
  }

  &--active &__name {
    color: #f9b43b;
  }

  &--active &__info {
    height: 100px;
    margin-top: 17px;
  }

  &--active &__name:before {
      content: "";
      display: block;
      margin-right: 10px;
      border: 5px solid transparent;	
      border-bottom: 5px solid #f9b43b;
      border-top: 0;
  }
}