.team {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #2f3234;
    opacity: 0.93;

    .container {
        width: rem(347);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
