.team-card {
  margin-top: rem(35);

  &__name {
    cursor: pointer;
    font-family: 'Gagalin';
    font-weight: 400;
    display: inline-flex;
    align-items: center;

    &:before {
      content: "";
      display: block;
      margin-right: rem(10);
      border: rem(5) solid transparent;	
      border-top: rem(5) solid #f9b43b;
      border-bottom: 0;
    }
  }

  &__info {
    margin-left: rem(20);
    display: flex;
    justify-content: flex-start;
    height: 0;
    overflow: hidden;
  }

  &__pic {
    width: rem(100);
    height: rem(100);
    border-radius: 50%;
    overflow: hidden;
  }

  &__avatar {
    display: block;
    height: 100%;
  }

  &__desc {
    width: rem(208);
    margin-left: rem(21);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__job {
    font-weight: 700;
  }

  &__text {
    font-weight: 300;
    line-height: rem(24.01);
  }

  &--active &__name {
    color: #f9b43b;
  }

  &--active &__info {
    height: rem(100);
    margin-top: rem(17);
  }

  &--active &__name:before {
    content: "";
    display: block;
    margin-right: rem(10);
    border: rem(5) solid transparent;	
    border-bottom: rem(5) solid #f9b43b;
    border-top: 0;
  }
}
