.title {
  font-family: 'Gagalin';
  font-size: rem(72);
  font-weight: 400;

  &--color-orange {
    color: #f9b43b;
  }

  &--color-black {
    color: #2f3234;
  }

  &--color-white {
    color: #fff;
  }
}
