.top-menu {
   display: flex;
   justify-content: flex-end;
   align-items: center;

  &__list {
    display: inline-flex;
    margin-right: rem(15);
  }

  &__item {
    display: flex;
    align-items: center;

    &:after {
      content: "";
      display: inline-block;
      width: rem(3);
      height: rem(3);
      margin-left: rem(16);
      margin-right: rem(16);
      border-radius: 50%;
      background-color: #fff;
    }

    &:last-child:after {
      display: none;
    }
  }

  &__link {
    font-size: rem(13);
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}
